<section class="slider">
    <div class="slider__inner">
        <h1 class="title base-animation slider__title">
            Как работает
            биткоин транзакция?
        </h1>

        <ul class="slider__slider">
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
           <li class="slider__item">
               <div class="slider__body">
                   <div class="slider__icon">
                       <%- include('../../images/person.svg')%>
                   </div>
                   <div class="slider__text">Пользователь</div>
               </div>
               <div class="slider__arrow">
                   <%- include('../../images/arrow-right.svg')%>
               </div>
           </li>
        </ul>
    </div>
</section>
