<section id="history" class="timeline">
    <div class="timeline__inner">
        <div class="timeline__road">
            <img class="lazy" data-src="images/road.svg" alt="">
        </div>
        <div class="title base-animation">История</div>

        <div class="timeline__cards">
            <div class="card timeline__card">
                <div class="card__icon">
                    <%- include('../../images/article.svg') %>
                </div>
                <div class="card__year">2008</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Сатоши Накамото публикует оригинальную статью, описывающую технологию, лежащую в
                    основе биткоина
                </div>
            </div>
            <div style="margin-top: 120px;" class="card timeline__card card--2">
                <div class="card__icon">
                    <%- include('../../images/first-block.svg') %>
                </div>
                <div class="card__year">2009</div>
                <div class="card__ball">
                </div>
                <div class="card__text">
                    Сатоши Накамото добывает первый в мире блок биктоина(нулевой блок).
                </div>
            </div>
            <div style="margin-top: 162px;" class="card timeline__card">
                <div class="card__icon">
                    <%- include('../../images/piza.svg') %>
                </div>
                <div class="card__year">2010</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Первая в реальном мире сделка с помощью биткоина. Знаменитая пицца за 10 000 BTC
                    (25 долларов в те времена)
                </div>
            </div>
            <div style="margin-top: 134px;" class="card card--2 timeline__card">
                <div class="card__icon">
                    <%- include('../../images/stonks.svg') %>
                </div>
                <div class="card__year">2013</div>
                <div class="card__ball">
                </div>
                <div class="card__text">
                    Общая стоимость всех биткоинов в обращении достигает отметки в 1 миллиард долларов.
                </div>
            </div>
            <div style="margin-top: 260px;" class="card timeline__card">
                <div class="card__icon">
                    <%- include('../../images/fork.svg') %>
                </div>
                <div class="card__year">2017</div>
                <div class="card__ball">
                </div>
                <div class="card__text">
                    Появляется форк биткоина - Bitcoin Cash. К 2018 году размер блока увеличился до 32 мегабайт и были
                    добавлены smart-контракты.
                </div>
            </div>
            <div style="margin-top: 163px;" class="card card--2 timeline__card">
                <div class="card__icon">
                    <%- include('../../images/anon.svg') %>
                </div>
                <div class="card__year">2018</div>
                <div class="card__ball">
                </div>
                <div class="card__text">Бета-релиз Lighting Network. Это платежный протокол, позволяющий проводить
                    моментальные транзакции с низкими комиссиями. Способствует большей анонимности.
                </div>
            </div>
        </div>
    </div>
</section>
